---
import './Header.sass';
import pixelito from '/pixelito.svg'
---

<div class="header">
    <img class="logo" src={pixelito} alt="Pixelito" />
    <div class="text">
        <h1> SEMANA COMPU 2023* </h1>
        <h2> sept 4-8</h2>
        
    </div>
</div>