---
import './Dashboard.sass'
import LinksCard from '../LinksCard/LinksCard.astro'
---

<div class='dashboard-grid'>

  <div class="main card"></div>
  <div class="coming-up card"></div>
  <div class="links card">
    <LinksCard />
  </div>
</div>