---
import './Dashboard.sass'
import LinksCard from '../LinksCard/LinksCard.astro'
import MainCard from '../MainCard/MainCard.astro'
import TodayCard from '../TodayCard/TodayCard.astro'
---

<div class='dashboard-grid'>

  <div class="main card">
    <MainCard />
  </div>
  <div class="coming-up card">
    <TodayCard/>
  </div>
  <div class="links card">
    <LinksCard />
  </div>
</div>