---

import './TodayCard.sass'
import eventos from '../../../public/json/eventos.json'

const filterEvents = (events) => {
    const today = new Date()
    // sync with UTC with current timezone offset
    today.setHours(today.getHours() - today.getTimezoneOffset() / 60)
    console.log(today)
    const todayEvents = events.filter(event => {
        const eventDate = new Date(event.fecha)
        // sync with UTC with current timezone offset
        eventDate.setHours(eventDate.getHours() - eventDate.getTimezoneOffset() / 60)
        return eventDate.getDate() === today.getDate() 
    })
    return todayEvents
}
const shortName = (name) => {
    // returns the first 15 characters of the name
    // if the name is longer than 15 characters, adds '...'
    if (name.length > 32) {
        return name.slice(0, 32) + '...'
    }
    return name
}
const todayEvents = filterEvents(eventos)
console.log(todayEvents)
---

<div class="today-card">
    <h1>
        HOY
    </h1>
    <div class="events-today">
        {todayEvents.map(event => (
            <div class="event-today">
                <h2> {shortName(event.nombre)} </h2>
                <p> {event.horainicio} - {event.horafin} </p> 
                <p> {event.lugar} </p>
            </div>
        ))}
    </div>
</div>